
@{
    ViewData["Title"] = "Insertusermenu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    // Layout = null;
}
<script src="~/jquery/jquery.min.js"></script>

<div class="">
    <div>
        <label>Select User :-</label>
        <select id="ddlusers" class="form-control-sm">
        </select>

    </div>
    <div id="ulmain" class="container container-fluid border">

    </div>
    <div>
        <button type="button" class="btn btn-success" id="btnsave">Save</button>
    </div>

</div>
<script>
    var checkboxx = '';
    $(document).ready(function () {
       
        setTimeout(LoadUser, 2000);
        setTimeout(loadMenuss, 3000);
        
        
       
        
    });

    function LoadUser() {
        $.ajax({
            url: '../AdminConsole/Listofuser',
            type: 'get',
            data: {},
            dataType: 'JSON',
            success: function (data) {
                var result = data;
                var html = '';
                for (var i = 0; i < result.length; i++) {
                    html += '<option value=' + result[i].userId + '>' + result[i].vchUserName + '</option>';
                }
                $('#ddlusers').html(html);


            }
        })
    }

    function loadMenuss() {
      
        $.ajax({
            url: '../AdminConsole/listmenuandsubmenuinsert',
            type: 'POST',
            data: { 'id': 0 },
            dataType: 'JSON',

            success: function (data) {

                var result = data;
                var html = '';
                var count = 0;

                for (var i = 0; i < result.length; i++) {

                    count++;




                    html += '<h4>' + result[i].menu + '<input type="checkbox" onchange="checkboxchecks(' + result[i].menuId + ')" /></h4>';

                    html += '<ul>';
                    $.ajax({
                        url: '../AdminConsole/listmenuandsubmenuinsert',
                        type: 'POST',
                        data: { 'id': result[i].menuId },
                        dataType: 'JSON',
                        async: false,
                        success: function (data) {
                            var convertarray = data;
                            if (data != '') {
                                for (var a = 0; a < convertarray.length; a++) {

                                    html += '<li>' + convertarray[a].menu + '<input type="checkbox" onchange="checkboxchecks(' + convertarray[a].menuId + ')" /></li>';



                                    //html += '<li> <a href=' + convertarray[a].menuUrl + '>' + convertarray[a].menu+'</a></li>';

                                }
                                
                            }
                            html += '</ul>';
                            
                        }
                    })




                    //html += '</div> ';






                }
                $('#ulmain').html(html);



               
            }
            
        });
        
    }

    function loadSubMenus(obj) {

        if (obj > 0) {


            var datamenu;
            $.ajax({
                url: '../AdminConsole/listmenuandsubmenu',
                type: 'POST',
                data: { 'id': obj },
                dataType: 'JSON',
                async: false,
                success: function (data) {

                    if (data != '') {
                        datamenu = data;
                    }
                }
            })
            return JSON.stringify(datamenu);
        }
    }

    function checkboxchecks(obj) {
        
        checkboxx += obj + ',';





    }

    $('#btnsave').click(function () {
        var checkboxxs = checkboxx.slice(0, -1);
        var userid = $('#ddlusers').val();
        $.ajax({
            url: '../AdminConsole/insertMemuToUser',
            type: 'POST',
            data: { 'id': userid, 'menu': checkboxxs },
            dataType: 'JSON',
            async: false,
            success: function (data) {

                if (data == 1) {
                    checkbox = '';
                    alert('Menu inserted');

                }
            }
        })

    })
</script>


